*{
    box-sizing: border-box;
}

body{
    margin: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header,footer,div{
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
}

/*=== 1°seção ===*/

header nav {
    margin: 15px auto 25px auto;
    max-width: 980px;
    width: 100%;
    text-align: center;
    font-size: 18px;
    line-height: 28px;
}

p{
    margin: 10px auto;
    max-width: 980px;
    width: 100%;
    text-align: justify;
    font-size: 18px;
    line-height: 28px;
}

header{
    background-color: #afddfb;
}

header img{
    max-width: 150px;
    width: 100%;
    padding: 0px 16px 0px 16px;
}

header nav a{
    font-size: 18px;
    color: #1d1d1d;
    border-bottom: 2px solid #1d1d1d;
    display: inline-block;
    text-decoration: none;
    margin: 0px 10px 0px 10px;
}

/*=== 2° seção ===*/

.banner{
    margin-top: 50px;
    padding: 0px 16px 0px 16px;
}

.banner img{

    max-width: 1024px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
    display: block;
}

span{
    font-weight: bold;
    color: #fff81b;
}

.texto-azul{
    color: #1d80c1;
    font-weight: bold;
}

/*=== 3° seção ===*/

.secao_sobre h1 {
    color: #1d1d1d;
    margin-bottom: 5px;
}

.secao_sobre h2 {
    color: #1c81c0;
    margin-top: 0;
    font-weight: normal;
}

.secao_sobre img {
    width: 100%;
    max-width: 450px;
    height: auto;
    display: block;
    margin: 0 auto; 
}

.secao_sobre p{

    padding: 0px 16px 0px 16px;
}

/*=== 4° seção ===*/

.secao_servicos{
    background-color: #1d80c1;
}

.secao_servicos h3{
    color: #ffffff;
    font-size: 42px;
    line-height: 42px;
}

.secao_servicos p{
    color: #ffffff;
    font-size: 22px;
    line-height: 42px;
    text-align: center;
    margin: 0 auto;
    max-width: 700px;
    width: 100%;
    padding: 0px 16px 0px 16px;
}

.secao_servicos ul{
    margin: 40px auto 40px auto;
    max-width: 135px;
    width: 100%;
    color: #ffffff;
    line-height: 42px;
    text-align: left;
    font-size: 22px;
}

/*=== 5° seção === */

.secao_corretores h3{

  color: #1d80c1;
    font-size: 42px;
    line-height: 42px;
}

.secao_corretores img{

    width: 100%;
    max-width: 450px;
    height: auto;
    display: block;
    margin: 0 auto;     
}

.secao_corretores p{
    padding: 0px 16px 0px 16px;

}

/*=== 6° seção ===*/

.secao_contato {

    background-color: #1d80c1;
    padding: 0px 16px 40px 16px;
}

.secao_contato h3{

      color: #ffffff;
    font-size: 42px;
    line-height: 42px;
}

.secao_contato p{

    color: #ffffff;
    background-color: #1d1d1d;
    padding: 15px;
    margin: 30px auto 30px auto;
}

.secao_contato iframe{
    width: 100%;
    max-width: 800px;
    height: 350px;
    margin: 0px auto 0px auto;
    display: block;
}


.secao_contato ul{

    margin: 40px auto 40px auto;
    list-style: none;
    
}

.secao_contato li{

    margin: 15px auto 0px auto;
    text-align: center;
    font-size: 18px;
    max-width: 210px;
    width: 100%;
}

.secao_contato li a{

    background-color: #ffffff;
    color: #1d80c1;
    padding: 2px 5px;
    border-radius: 5px;
}